<div id="content-all">
    <article>
        <div class="itemprop" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Robin Candau">
        </div>
        <div class="itemprop" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="Arch Linux">
        </div>

        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
        {{ end }}

        <p class="article-info">{{ partial "article_header" . }}</p>

        <div class="article-content" itemprop="articleBody">
            {{ .Content }}

            {{if .Site.Params.disclaimer }}
            <p>
                {{ with .Site.Params.disclaimer }}{{ . | markdownify}}{{ end }}
            </p>
            {{ end }}
        </div>

        {{ partial "article_footer" . }}

        {{ partial "prev_next_post" . }}
    </article>

    <section id="comments">

        <div id="disqus_thread">
            {{ template "_internal/disqus.html" . }}
        </div>
    </section>
</div>
