# Auto detect text files and perform LF normalization
text=auto
# *.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
*.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
*.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
