{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $packages := where .Site.RegularPages "Type" "packages" }}
{{ $numPosts := len $posts }}
{{ $numPackages := len $packages }}

{{ if .Site.Params.widgets.recent_articles }}
<div id="pkg-updates" class="widget box">
    {{ if gt $numPosts 1 }}
    <h3 class="widget-title">{{with .Site.Data.l10n.widgets.recent_articles.title}}{{.}}{{end}} Posts <span class="more">(<a href="/posts/?sort=-last_update" title="Browse all of the latest packages">more</a>)</span></h3>
    <div class="rss-icon">
        <a href="/index.xml"><i class="fa fa-rss-square fa-lg"></i></a>
    </div>
    <table>
        <tbody>
            {{ range $posts | first 3 }}
                <tr>
                    <td class="pkg-name">
                        <a href="{{ .Permalink }}" title="Details for {{ .Title }}">{{ .Title }}</a>
                    </td>
                    <td class="pkg-arch">
                        <span class="community">{{ .Date.Format .Site.Params.date_format }}</span>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    {{ end }}
</div>
<div id="pkg-updates" class="widget box">
    {{ if gt $numPackages 1 }}
    <h3 class="widget-title">{{with .Site.Data.l10n.widgets.recent_articles.title}}{{.}}{{end}} Packages <span class="more">(<a href="/packages/?sort=-last_update" title="Browse all of the latest packages">more</a>)</span></h3>
    <table>
        <tbody>
            {{ range $packages | first 3 }}
                <tr>
                    <td class="pkg-name">
                        <span class="community">{{ .Title }}</span>
                    </td>
                    <td class="pkg-arch">
                        <a href="{{ .Permalink }}" title="Details for {{ .Title }}">x86_64</a>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    {{ end }}
</div>
{{ end }}